*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(129, 127, 127);
    color: white;
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
   
    
}
.one{
    width: 50%;
    height: 100px;
    align-items: center;
    text-align: center;
 
    
}
.two{
    width: 50%;
    height: 100px;
    align-items: center;
    text-align: center;

}
h1{
    color: rgb(255, 255, 255);
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
   
}
nav a{
    color: rgb(149, 147, 255);
    font-weight: 900;
    text-decoration: none;
    padding: 10px 20px;
    
   
}